@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*GENERALES*/
.blanco{
    background-color: white;
}

.textoblanco{
    color: white;
}

.textonegro{
    color: black;
}

.negro{
    background-color: black;
}

.gradient{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
}

.gradient2{
    background: rgb(0,0,0);
    background: linear-gradient(68deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.titulohome{
    font-size: 4.5rem;
}

.titulo{
    padding-bottom: 4rem;
}

.texto{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/*BODY*/

html,body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Poppins';
}

.fondo{
    background-image: url(../img/fondo.jpg);
}

.page-header{
    padding-top: 8rem;
    font-size: 1.25rem;
    color: white;
    font-family: 'Poppins';
    height: max-content;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*PROCESO*/

.feature{
    background-image: url(../img/fondo2.jpg);
    background: linear-gradient(68deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.feature ul{
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li{
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.inicio ul li{
    padding-left: 2rem;
    list-style-type: none;
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon{
    background-color: white;
    color: white;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.gallery{
    background-color: black;
    color: #ffde59;
}

.gallery img{
    border-radius: 5%;
}

.services{
    color: white;

}

.footer{
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    
}